<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <h1>Add Customer</h1>

    <form action="/addCustomer" method="post">

        <input type="text" name="firstName" placeholder="enter your first name"/>
        <input type="text" name="lastName" placeholder="enter your last name"/>
        <input type="text" name="phone" placeholder="enter your phone number"/>
        <input type="text" name="email" placeholder="enter your email"/>

        <button type="submit">Submit</button>
    </form>
</body>
</html>